body {background-color: #EAEDED;}

ul {
  list-style-type: none;
  border: 1px solid #555;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #D0ECE7;
}

li a {
  display: block;
  text-align: center;
  border-bottom: 1px solid #555;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

li:last-child {
  border-bottom: none;
}

.thumbnail { /* the width and height here are your resultant sizes. */
    width: 400px;
    height: 300px;
    float:left;
    margin:20px;
    position: relative;
}
 
.thumbnail iframe {  /* the width and height here are your "unshrunken" sizes.  Important bc of the scale variable later. */
    position: relative;
    z-index: 1;
    width: 1000px;   
    height: 750px;
 
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;

 
    -webkit-transform:  scale(0.4, 0.4);   /* Gets the size down to fit into your .thumbnail. */
    -moz-transform:  scale(0.4, 0.4);      /* Gets the size down to fit into your .thumbnail. */
    transform:  scale(0.4, 0.4);           /* Gets the size down to fit into your .thumbnail. */
    overflow: hidden;

}

.thumbnail a {
    position: absolute;
    top: 300px;
}

nav {
  postion: absolute;
}
.thumbnail a{
  postion: bottom;
}
